body
  {
    margin:0;
    padding:0;
  }
ul
  {
    list-style-type:none;
    background-color:#f0ff0f;
  }
ul li
  {
    display:inline-block;
    padding:15px;
  }
ul li:hover
  {
    background-color:#f9ff9f;
  }
.planet
  {
     display:none;
  }
ul li:hover .planet
  {
    display:block;
    position:absolute;
    margin-left:-0.4cm;
    margin-top:0.36cm;
  }
.planet ul li
   {
     display:block;
   }
.planet ul
   {
      margin:0;
      padding:0;
   }
.universe
   {
      display:none;
   }
ul li:hover .universe
   {
     display:block;
     position:absolute;
     margin-left:-0.4cm;
     margin-top:0.39cm;
   }
.universe  ul
   {
     margin:0;
     padding:0;
   }  


.universe ul li
  {
     display:block;
  }